@tailwind components;

@layer components {
  .skills-block {
    @apply bg-stone-200 box-border px-2 py-2 flex justify-center items-center rounded-lg;
  }

  @media (prefers-color-scheme: dark) {
    .skills-block {
      @apply bg-stone-300;
    }
  }

  @media (min-width: 1024px) {
    .skills-block {
      @apply rounded-xl;
    }
  }

  .trophy > img {
    transform: scale(1);
    transition: all .3s ease-in-out allow-discrete;
  }

  .trophy:hover > img {
    transform: scale(1.02);
  }

  .trophy > span {
    text-decoration-line: none;
    text-decoration-offset: 2px;
  }

  .trophy:hover > span {
    text-decoration-line: underline;
  }

  @media (prefers-color-scheme: dark) {
    .trophy > img {
      box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 50% / 0.44);
    }
    
    .trophy:hover > img {
      box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 50% / 0.41);
    }
  }

  @media (prefers-color-scheme: light) {
    .trophy > img {
      box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 50% / 0.44);
    }
    
    .trophy:hover > img {
      box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 50% / 0.41);
    }
  }

  /* Book */

  .book {
    @apply relative;
  }

  .book-cover {
    transform-origin: 0 50%;
    @apply relative rounded-sm transition-all duration-500 ease-in-out;
  }

  .book:hover .book-cover {
    transform: perspective(2000px) rotateY(-30deg);
    transform-style: preserve-3d;
  }

  .book img {
    @apply rounded-sm;
  }

  .book-effect {
    border-left: 2px solid #00000010;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%);
    @apply absolute top-0 bottom-0 left-0 w-5 ml-2 transition-all duration-500 ease-out;
  }

  .book:hover .book-effect {
    @apply w-10;
    /** margin-left:13px;
    opacity: 0.5; **/
  }

  .book-light {
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
    @apply absolute top-0 bottom-0 right-0 w-11/12 rounded-sm opacity-10 transition-all duration-500 ease-out;
  }

  .book:hover .book-light {
    @apply opacity-100;
    /* width: 70%; */
  }

  .book-shadow {
    box-shadow: 
      inset 4px 1px 3px #ffffff60,
      inset 0 -1px 2px #00000080;
    @apply absolute inset-0 transition-all duration-500 ease-in-out rounded-sm;
  }

  .book:hover .book-shadow {
    box-shadow:
      inset 4px 1px 3px #ffffff60,
      inset 0 -1px 2px #00000080,
      10px 0px 10px -5px #00000030;
  }

  .book-inside {
    width: calc(100% - 2px);
    height: 98%;
    z-index: -1;
    @apply absolute top-1/2 rounded-sm bg-white -translate-y-1/2 border border-gray-500;
  }

  @media (prefers-color-scheme: dark) {
    .book-inside {
      box-shadow: 
        0px 22px 22px -10px #ffffff40,
        inset -2px 0 0 grey,
        inset -3px 0 0 #dbdbdb,
        inset -4px 0 0 white,
        inset -5px 0 0 #dbdbdb,
        inset -6px 0 0 white,
        inset -7px 0 0 #dbdbdb,
        inset -8px 0 0 white,
        inset -9px 0 0 #dbdbdb;
    }
  }

  @media (prefers-color-scheme: light) {
    .book-inside {
      box-shadow: 
        0px 20px 15px -10px #00000040,
        inset -2px 0 0 grey,
        inset -3px 0 0 #dbdbdb,
        inset -4px 0 0 white,
        inset -5px 0 0 #dbdbdb,
        inset -6px 0 0 white,
        inset -7px 0 0 #dbdbdb,
        inset -8px 0 0 white,
        inset -9px 0 0 #dbdbdb;
    }
  }
}
